doctype 5
html(lang='en', class="sketchbook #{pageClass}")
	head
		title= pageTitle
		//- In IE 9 and lower, default to flat class
		<!--[if lte IE 9]><script>document.documentElement.className='flat #{pageClass}';</script><![endif]-->
		//- Keep track of the skin the user picked and apply it
		script.
			if(localStorage.skin === 'flat')
				document.documentElement.className='flat #{pageClass}';
		link(rel="icon", type="image/png", href="/img/bsn-design-favicon.png")
		//- iPhone 4
		link(rel="apple-touch-startup-image", media="(device-width: 320px) and (device-height: 480px)", href="/img/startup.png")
		//- iPhone 5
		link(rel="apple-touch-startup-image", media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)", href="/img/startup-640x1096.png")
		//- iPad (portrait)
		link(rel="apple-touch-startup-image", media="(device-width: 768px) and (orientation: portrait)", href="/img/startup-1536x2008.png")
		//- iPad (landscape)
		link(rel="apple-touch-startup-image", media="(device-width: 768px) and (orientation: landscape)", href="/img/startup-2048x1496.png")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		//- Google Web Fonts
		link(href='http://fonts.googleapis.com/css?family=Walter+Turncoat|Short+Stack|Quicksand|Open+Sans', rel='stylesheet', type='text/css')
		//- Compiled stylesheet
		link(rel="stylesheet", type="text/css", href="/css/style.css")
		<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="/css/ie8.css"><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/css/ie7.css"><![endif]-->
		script(src="/js/modernizr.min.js")